.header {
  margin: 0 auto;
  max-width: 880px;
  margin-top: 45px;
  border-bottom: 1px solid #545454;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 320px;
    margin-top: 28px;
    margin-bottom: 42px;
  }
}
